@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

:root {
  --gray: rgba(236, 240, 241, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(38, 38, 38, 1);
  --yellow: rgba(247, 202, 24, 1);
  --p-1: 1rem;
  --p-2: 2rem;
}

html {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  border: 0;
  outline: 0;
  color: inherit;
}

a {
  text-decoration: none;
}

.container {
  width: 1124px;
  display: inherit;
  align-items: inherit;
  flex-direction: row;
  padding: var(--p-1);
}

/*** HEADER ***/

header {
  background-color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header .logo {
  flex: 1;
}

header .logo a h1 {
  font-weight: 300;
  text-transform: uppercase;
}

header .switchContainer label {
  border: 1px solid var(--black);
  display: flex;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
}

header .switchContainer label .ball {
  width: 50%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
}

header .switchContainer label [data-mode="dark"] {
  background-color: var(--black);
  color: var(--white);
  margin-left: 0;
}

header .switchContainer label [data-mode="light"] {
  background-color: var(--yellow);
  color: var(--black);
  margin-left: auto;
}

header .switchContainer label .ball i {
  color: inherit;
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .switchContainer input {
  display: none;
}

/*** MAIN ***/

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .search {
  flex: 1;
  height: 50px;
  display: flex;
  border: 1px solid var(--gray);
  border-radius: 5px;
  overflow: hidden;
}

main .search .icon {
  height: 100%;
  width: 50px;
}

main .search .icon i {
  border-right: 1px solid var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}

main .search input {
  flex: 1;
  font-size: 1.25rem;
  font-weight: 300;
  padding-left: 1rem;
}

main .filterAndGridType {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

main .filterAndGridType .dropDown {
  flex: 1;
  position: relative;
}

main .filterAndGridType .dropDown button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--yellow);
  font-size: 1rem;
  border-radius: 5px;
  padding: 0 10px;
  text-transform: capitalize;
}

main .filterAndGridType .dropDown button i {
  font-size: 1.5rem;
}

main .filterAndGridType .dropDown nav {
  display: flex;
  width: 200px;
  flex-direction: column;
  position: absolute;
  top: 75px;
  border-radius: 5px;
  background-color: var(--gray);
  display: none;
}

main .filterAndGridType .dropDown nav::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  margin-top: calc(-25px / 2);
  background-color: var(--gray);
  transform: rotate(45deg);
  margin-left: var(--p-1);
  z-index: -1;
}

main .filterAndGridType .dropDown nav a {
  padding: 10px;
}

main .filterAndGridType .dropDown nav a:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.filterAndGridType .gridType {
  display: flex;
}

.filterAndGridType .gridType button {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  background-color: transparent;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.35);
}

.filterAndGridType .gridType button:hover {
  color: var(--black);
}

.filterAndGridType .gridType button:not(:last-of-type) {
  margin-right: 5px;
}

main .countries {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: -1rem;
  margin-right: -1rem;
}

main .countries .country {
  width: 100%;
  padding: 0 var(--p-1);
}

main .countries .country:not(:last-of-type) {
  margin-bottom: var(--p-1);
}

main .countries .country .content {
  display: flex;
  border: 1px solid var(--gray);
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  transition: all 0.25s;
  position: relative;
  overflow: hidden;
}

main .countries .country .content::after {
  content: "";
  width: 35px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z'/%3E%3C/svg%3E");
  position: absolute;
  background-repeat: no-repeat;
  right: -35px;
  transition: all 0.25s;
}

main .countries .country .content:hover {
  box-shadow: 0 0 10px var(--gray);
  transition: all 0.25s;
}

main .countries .country .content:hover::after {
  right: 0;
}

main .countries .country .content .flag {
  width: 45px;
  height: 45px;
}

main .countries .country .content .flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  object-position: center;
}

main .countries .country .content .info {
  padding-left: 10px;
  display: flex;
  flex: 1;
  align-items: baseline;
}

main .countries .country .content .info h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2rem;
}

main .countries .country .content .info h3 {
  padding-left: 10px;
  font-weight: 500;
  color: gray;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--p-2) var(--p-1);
  background-color: var(--gray);
}

footer h3 {
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 5px;
}

footer h3 i {
  color: rgba(242, 38, 19, 1);
}
