@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

:root {
  --gray: rgba(236, 240, 241, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(38, 38, 38, 1);
  --blue: rgba(95, 16, 245, 1);
  --yellow: rgba(247, 202, 24, 1);
  --p-1: 1rem;
  --p-2: 2rem;
}

html {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  border: 0;
  outline: 0;
  color: inherit;
}

a {
  text-decoration: none;
}

.container {
  width: 1124px;
  display: inherit;
  align-items: inherit;
  flex-direction: row;
  padding: var(--p-1);
}

/*** HEADER ***/

header {
  background-color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header .logo {
  flex: 1;
}

header .logo a h1 {
  font-weight: 300;
  text-transform: uppercase;
}

header .switchContainer label {
  border: 1px solid var(--black);
  display: flex;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
}

header .switchContainer label .ball {
  width: 50%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
}

header .switchContainer label [data-mode="dark"] {
  background-color: var(--black);
  color: var(--white);
  margin-left: 0;
}

header .switchContainer label [data-mode="light"] {
  background-color: var(--yellow);
  color: var(--black);
  margin-left: auto;
}

header .switchContainer label .ball i {
  color: inherit;
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .switchContainer input {
  display: none;
}

/*** MAIN ***/

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .search {
  flex: 1;
  height: 50px;
  display: flex;
  border: 1px solid var(--gray);
  border-radius: 5px;
  overflow: hidden;
}

main .search .icon {
  height: 100%;
  width: 50px;
}

main .search .icon i {
  border-right: 1px solid var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}

main .search input {
  flex: 1;
  font-size: 1.25rem;
  font-weight: 300;
  padding-left: 1rem;
}

main .filterAndGridType {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

main .filterAndGridType .dropDown {
  flex: 1;
  position: relative;
}

main .filterAndGridType .dropDown button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--yellow);
  font-size: 1rem;
  border-radius: 5px;
  padding: 0 10px;
  text-transform: capitalize;
}

main .filterAndGridType .dropDown button i {
  font-size: 1.5rem;
}

main .filterAndGridType .dropDown nav {
  display: flex;
  width: 200px;
  flex-direction: column;
  position: absolute;
  top: 0;
  border-radius: 5px;
  border: 1px solid var(--gray);
  opacity: 0;
  visibility: hidden;
}

main .filterAndGridType .dropDown nav a {
  padding: 10px;
}

main .filterAndGridType .dropDown nav a:not(:last-of-type) {
  border-bottom: 1px solid var(--gray);
}

.filterAndGridType {
}

.filterAndGridType .gridType {
  display: flex;
}

.filterAndGridType .gridType button {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  background-color: transparent;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.25);
}

.filterAndGridType .gridType button:not(:last-of-type) {
  margin-right: 5px;
}
